@page "/AdminPage"

@using FrontEnd.Model.BL
@using FrontEnd.Model.DTO;
@using FrontEnd.Model;
@using FrontEnd.Model.Dialog
@using FrontEnd.Shared.Dialog
@using FrontEnd.API

@inject IDialogService DialogService
@attribute [Authorize(Roles = "0,1,2")]

<style>
    body {
        background-color: black;
        opacity: 0.8;
    }

    .custom-elevation {
        box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.75);
    }

    .custom-paper {
        background-color: #651FFF;
        color: white;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }

    .custom-subheader {
        color: white; 
        font-size: 20px;
    }
    .div-left{
        width: 60%;
        float:left;
        margin: 1% 0 1% 1%;
        height:99vh
    }
    .div-right{
        width: 37%;
        float:right;
        margin: 1% 1% 1% 0;
        height:99vh;
    }
    .card
    {
        color: #353535;
        background-color: white;
        padding: 0;
        margin: 0;
    }
    
    .right
    {
      overflow-x: hidden;
      overflow-y: scroll;
      max-height: 40vh;
      border: 1px solid #b3b3b3;
      background-color: white;
      border-radius: 1px;
    }
    
    .right-first
    {
       background-color: white;
       margin: 0 0 1% 0 ;
       color: black;
       border-radius: 5px;
       /* padding-left: 1%; */
       padding-top: 2%;
       max-height: 50vh;
    }

    .right-second {
        background-color: white;
        margin: 1% 0 0 0;
        color: black;
        border-radius: 5px;
        padding-top: 2%;
        max-height: 50vh;
    }
    .progress
    {
    position:absolute; 
    }    
</style>

@* <AuthorizeView Roles="0,1,2">
    <Authorized> *@
        <MudThemeProvider />
        <div class="body">
            <MudLayout style="background-color: #212121; color: white;" Elevation="5">
                <Drawer></Drawer>
                <MudMainContent style="background-color: black; color: white;" Elevation="5">
            <div class = "div-left">
                <MudDataGrid id="left"
                                     T="Semester"
                                     Items="@semesters"
                             SortMode="SortMode.None"
                             Filterable="false"
                             RowClick="@RowClicked"
                             MultiSelection="false"
                             ReadOnly="false"
                             FixedHeader="true"
                             EditMode="DataGridEditMode.Form"
                             RowsPerPage="10"
                             Bordered="true" 
                             Dense="true"
                             ColumnResizeMode="ResizeMode.Column"
                             Style="height:100%" >
                    <ToolBarContent>
                        <MudText Typo="Typo.h4" class="mr-2">Կիսամյականեր</MudText>
                    </ToolBarContent>

                    <Columns>
                        <PropertyColumn Property="x => x.Id" Sortable="false" Filterable="false" IsEditable="false"/>
                        <PropertyColumn Property="x => x.Name" Title="Անուն"/>
                        <PropertyColumn Property="x => x.Hours" Title="Ժամաքանակ"/>

                        <TemplateColumn Hidden="false" CellClass="d-flex justify-end"
                                        Sortable="false" Filterable="false" StickyRight="true">
                            <CellTemplate>
                                <MudIconButton Icon="@Icons.Material.Outlined.Edit" Size="@Size.Small" OnClick="@(() => EditSemester(context.Item.Id))"> </MudIconButton>
                            </CellTemplate>

                        </TemplateColumn>
                    </Columns>

                    <PagerContent>
                        <MudDataGridPager T="Semester" DisableRowsPerPage="true" />
                    </PagerContent>

                </MudDataGrid>
            </div>

            <div id="right" class="div-right">
                <div class="right-first">
                    <h4 class="mud-typography mud-typography-h4 mr-2" style="padding-left: 2%; padding-bottom: 1%; color:#464646;">
                        Ընտրված
                    </h4>
                    <div class="right">

                            <SortableList Group="sharedLists" Items="selectedSubjects" Context="item" OnRemove="DeleteSemesterSubject">
                            <SortableItemTemplate>
                                <div class=" card has-border has-background-white">
                                    <p class="is-size-4 p-1 ml-1 mb-0">
                                        @(item.Order + 1) . Առարկայի անուն - @item.Title<br style="padding-left: 20px;">
                                                            Վերջնարդյունք - @item.Outcome
                                    </p>
                                </div>
                            </SortableItemTemplate>
                        </SortableList>
                    </div>
                </div>

                <div class="right-second">
                    <h4 class="mud-typography mud-typography-h4 mr-2" style="padding-left: 2%; padding-bottom: 1%; color:#464646;">
                        Առարկաներ
                    </h4>
                    <div class="right">
                            <SortableList Group="sharedLists" OnRemove="AddSemesterSubject" Items="allSubjects" Context="item">
                            <SortableItemTemplate>
                                <div class="card has-background-white has-border">
                                    <p class="is-size-4 p-1 ml-1 mb-0" style="padding-left: 20px;">
                                        @(item.Id) . Առարկայի անուն - @item.Title<br>
                                                        Վերջնարդյունք - @item.Outcome
                                    </p>
                                </div>
                            </SortableItemTemplate>
                        </SortableList>
                    </div>
                </div>
            </div>
        </MudMainContent>                               
    </MudLayout>
</div>
@*     </Authorized>
</AuthorizeView> *@

@code {
    private int _currentSelectedSemesterId;
    public List<Semester> semesters = new List<Semester>();
    public List<SubjectBl>? SubjectsBl { get; set; }
    public List<SubjectDto>? SubjectsDto { get; set; } = new();

    public List<SubjectDto?>? allSubjects => SubjectsDto;

    public List<SubjectDto?>? selectedSubjects = new();


    async Task RowClicked(DataGridRowClickEventArgs<Semester> args)
    {
        // await GetSemesterSubjects(args.Item.Id);
        // _currentSelectedSemesterId = args.Item.Id;
        //get current semester subjects for selected list
    }

    private async Task EditSemester(int id)
    {
        if (this.SemesterService != null)
        {
            var editedRow = this.semesters?.Find(r => r.Id == id);
            var semester = await OpenDialog(editedRow);
            if (semester != default && editedRow != null)
            {
                var result = await this.SemesterService.EditSemester(semester);
                if (result != null)
                {
                    this.semesters?.Remove(editedRow);
                    this.semesters?.Add(result);

                }
            }
        }
    }

    private async Task<Semester?> OpenDialog(Semester? row = default)
    {
        var options = new DialogOptions
            {
                CloseOnEscapeKey = true,
                MaxWidth = MaxWidth.Large,
                Position = DialogPosition.Center,
            };

        var parameters = new DialogParameters<Semester>();

        var dialog = new SemesterDialog();

        if (row is not null)
        {
            dialog.Name = row.Name;
            dialog.Hours = row.Hours;
        }

        parameters.Add("ObjectType", dialog);

        var result = await (await DialogService.ShowAsync<DialogComponent<SemesterDialog>>("Խմբագրել", parameters, options)).Result;
        if (!result.Canceled)
        {
            return new Semester()
                {
                    Name = dialog.Name,
                    Hours = dialog.Hours,
                    Id = row?.Id ?? 0
                };
        }

        return default;
    }

}