@page "/"

@using FrontEnd.Model;
@using FrontEnd.API;


@inject IJSRuntime js
<style>
    body {
        background-color: black;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        min-width: 40vh;
    }

    .paper-container {
        padding: 100% 0;
        margin: 0;
    }

    .forgot-password-link {
        /* Your default styling for the link */
        color: blue; /* Change it to whatever your default color is */
    }

    .forgot-password-link.red {
        /* Styling when the link needs to be red */
        color: red;
    }
</style>


<AuthorizeView>
    <NotAuthorized>
        <MudCard Class="pa-5 align-content-center " style="background-color: #E0E0E0;" Elevation="10" Outlined="true">
        <MudCardContent>
            @* <div class="paper-container">
                <MudPaper Class="pa-5 align-content-center" style="background-color: #E0E0E0;" Elevation="10"> *@
                    <h1> Մուտք </h1>
                    <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                        <MudTextField T="string" id="username"
                                  Label="Մուտքանուն"
                                  Required="true" RequiredError="Մուտքանունը պարտադիր է!"
                                      Validation="@(new StringLengthAttribute(20) {ErrorMessage = "Անունը վավեր չէ"})"
                        @bind-Value="model.LogIn" @onkeydown="@(args => { HandleEnterKeyPress(args, "pass"); })" />
                        <MudTextField T="string" id="pass"
                                      Label="Գաղտնաբառ" @ref="pwField1"
                                      InputType="@PasswordInput"
                                      Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))"
                                      Required="true" RequiredError="Գաղտնաբառը պարտադիր է!"
                                      Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="VisibilityButtonClick"
                                      style="margin-bottom: 10px;"
                        @bind-Value="model.Password" @onkeydown="@(args => { HandleEnterKeyPress(args, "loginButton"); })" />

                        <div class="signup-link" style="margin-top: 10px; margin-bottom: 5px;">
                        <p> <a id="forgotPasswordLink" href="/ResetPass">Մոռացե՞լ եք գաղտնաբառը</a></p>

                        @* <p style=@((failedAttempts >= 3) ? "color: red" : "")>Forgot password? <a id="forgotPasswordLink" href="/ResetPass">Reset</a></p>  *@

                        </div>

                        <MudButton id=loginButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true"
                                   OnClick="@(() => { form.Validate(); Authorize(); })" @onkeydown="@(args => { HandleEnterKeyPress(args); })"
                                   Class="my-5">Մուտք</MudButton>
                        <MudButton Variant="Variant.Outlined" DisableElevation="true" OnClick="@(()=>form.ResetAsync())"
                                   Class="mx-5">Մաքրել</MudButton>

                        <div class="signup-link">
                            <p>Չունե՞ք հաշիվ <a href="/Registration">Գրանցվել</a></p>
                        </div>

                    </MudForm>
@*                 </MudPaper>
            </div> *@
        </MudCardContent>
        </MudCard>
    </NotAuthorized>
</AuthorizeView>


@code {
    bool success;
    string[] errors = { };
    MudTextField<string> pwField1;
    MudForm form;

    private IEnumerable<string> PasswordStrength(string pw)
    {
        if (string.IsNullOrWhiteSpace(pw))
        {
            yield return "Password is required!";
            yield break;
        }
    }
    //public string Password { get; set;} = "superstrong123";

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void VisibilityButtonClick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private async void HandleEnterKeyPress(KeyboardEventArgs args, string fieldId)
    {

        if (args.Code == "Enter" || args.Code == "NumpadEnter")
        {
            await js.InvokeVoidAsync("setFocus", fieldId);
        }
    }

    private async void HandleEnterKeyPress(KeyboardEventArgs args)
    {

        if (args.Code == "Enter" || args.Code == "NumpadEnter")
        {
            await form.Validate();
            Authorize();

        }
    }
}