@page "/Rating/{Id}"
@using FrontEnd.Model.DTO
@using FrontEnd.Model.BL
@using FrontEnd.Model
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


<style>
    body {
        background-color: lightgrey;
        opacity: 0.8;
    }
</style>

<MudThemeProvider />
            
<div style="margin: 1% 5% 0% 5%; height:90vh;">
    <MudDataGrid 
            T="RatingViewBl" 
            Items="@RatingView" 
            Filterable="false" 
            SortMode="@SortMode.None" 
            Groupable="false"
            Bordered="true" 
            Dense="true"
            ColumnResizeMode="ResizeMode.Column"
            Style="height:99%"
            RowsPerPage="13">

        <ToolBarContent>
            <MudText Typo="Typo.h4" class="mr-2">Ուսումնական հարցում</MudText>              
        </ToolBarContent>

        <Columns>
            <PropertyColumn Property="x => x.Title" Title="Առարկայի անուն" />
            <PropertyColumn Property="x => x.Outcome" Title="Վերջնարդյունք" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudRating @bind-SelectedValue="@context.Item.RatingValue"
                                    Size="@Size.Small"
                                    MaxValue="10"
                                    Color="Color.Primary" />
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    <PagerContent>
        <MudDataGridPager T="RatingViewBl" DisableRowsPerPage="true" />
    </PagerContent>

    </MudDataGrid>
</div>

<div style="margin: 0% 5% 2% 5%; height:50vh">  
    <MudDataGrid T="SuggestionBl" 
                 Items="@Suggestions"
                 SortMode="SortMode.None"
                 Filterable="false"
                 Selectable="false" 
                MultiSelection="false" 
                ReadOnly="false" 
                FixedHeader="true" 
                EditMode="DataGridEditMode.Cell" 
                RowsPerPage="10" 
                Bordered="true" 
                Dense="true" 
                ColumnResizeMode="ResizeMode.Column"               
                Virtualize="true"  
                Height="40vh"
                EditTrigger="@(_editTriggerRowClick ? DataGridEditTrigger.OnRowClick : DataGridEditTrigger.Manual)"
                Style="height:100%" >
    <ToolBarContent> 
        <MudText Typo="Typo.h4" class="mr-2">Առաջարկություններ</MudText> 
        <MudIconButton @onclick="AddItem" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" /> 
        <MudSpacer/> 
        <MudButton OnClick="@DeleteItem" Color="@Color.Dark" Class="remove-item-btn">Ջնջել տողը</MudButton> 

    </ToolBarContent> 

    <Columns>
            <PropertyColumn Property="x => x.Suggestion" Title="Առաջարկություն" Sortable="false" Filterable="false" IsEditable="true" Required="false" />
            <TemplateColumn Hidden="@(_isCellEditMode || _readOnly || _editTriggerRowClick)" CellClass="d-flex justify-end" Sortable="false" Filterable="false" StickyRight="true">
                <CellTemplate> 
                    <MudIconButton Icon="@Icons.Material.Outlined.Edit" Size="Size.Small" Color="Color.Error" OnClick="@context.Actions.StartEditingItemAsync"> </MudIconButton> 
                    <MudIconButton Icon="@Icons.Material.Outlined.Delete" Size="Size.Small" Color="Color.Error" OnClick="@(() => DeleteItem())"> </MudIconButton> 
                </CellTemplate> 
            </TemplateColumn> 
    </Columns> 

@*     <PagerContent> 
            <MudDataGridPager T="SuggestionBl" DisableRowsPerPage="true" /> 
    </PagerContent>  *@

    </MudDataGrid>  
</div> 

<div style="display: flex; justify-content: center; align-items: center; margin: 0% 5% 0% 5%;">
    <MudButton EndIcon="@Icons.Material.Filled.Send"
               Variant="Variant.Filled"
               Color="Color.Primary" 
               FullWidth="true"
               OnClick="@Submit">
        Ուղարկել
    </MudButton>
</div>

@code 
{
    // int WindowInnerHeight, RowsPerPage;

    // public int CalculateRowsPerPage()
    // {
    //     // Calculate the number of rows based on the available height and row height
    //     double availableHeight = 80 * WindowInnerHeight / 100;
    //     double rowHeight = 20;
    //     return (int)Math.Floor(availableHeight / rowHeight);
    // }


    private bool _readOnly;
    private bool _isCellEditMode;
    private bool _editTriggerRowClick;

    private List<SuggestionBl>? Suggestions = new List<SuggestionBl>();

    void AddItem() => Suggestions?.Add(new SuggestionBl());
    void DeleteItem() => Suggestions?.RemoveAt(Suggestions.Count - 1);   
}